<!-- Loader animation borrowed from this website https://css-loaders.com/spinner/ -->

<MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
    <div class="loader"></div>
    <MudText Typo="Typo.body1">Loading...</MudText>
</MudStack>